<!DOCTYPE html> 
<html>
    <head>
		<script type="text/javascript">
		function check()
		{
		  if (document.search.number.value == "")
		  {
			alert("송장번호를 입력해주세요!");
			document.search.number.focus();
			return false;
		  }
		  if (document.search.code.value == "none")
		  {
			alert("택배사를 선택해주세요!");
			document.search.code.focus();
			return false;
		  }
		  else
		  {
			document.search.submit();
		  }
		}
		
		</script>
		
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/get.css' />
    </head>
    <body>
		<div class="all">
		<h2>택배를 조회해보세요!</h2>
        <div class="wrap">
        <form name="search" action = "/result_page" method="get" >
            <select name="code" id="code">
				<option value = "none"> 택배사를 선택해주세요 </option>
				<option value = "04"> CJ대한통운 </option>
				<option value = "05"> 한진택배 </option>
				<option value = "23"> 경동택배 </option>
			<input type="number" name="number" id="number" placeholder="운송장 번호를 -없이 입력해주세요">
			
            <input type="button" value="조회" onclick="check()" id="btn">
        </form>
		</div>
		</div>
		
    </body>
</html>
